@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --backgroundColor: #fef852;
    --backgroundColorSecondary: #fffc94;
    --textPrimaryColor: #2a2a2a;

    --headlineBig: clamp(3rem, 10vw, 15rem);
    --headlineSmall: clamp(1rem, 1.2vw, 6rem);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.stroke-text {
  -webkit-text-stroke: 1px #4b5563;
  color: transparent;
}

.reveal {
  background: var(--backgroundColor);
  padding-left: 30%;
  padding-right: 10%;
}

.reveal-text {
  font-weight: 800;
  font-size: var(--headlineBig);
  line-height: var(--headlineBig);
  color: var(--backgroundColor);
  filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2));
}

.spacing-small {
  height: 50vh;
}

.spacing {
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .reveal {
    padding-left: 10px;
  }
}
