@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #cec9c9;

    --backgroundColor: #fef852;
    --backgroundColorSecondary: #fffc94;
    --textPrimaryColor: #2a2a2a;

    --headlineBig: clamp(3rem, 10vw, 15rem);
    --headlineSmall: clamp(1rem, 1.2vw, 6rem);
  }
}
.element {
  font-family: var(--font-bstyle);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.stroke-text {
  -webkit-text-stroke: 1px #4b5563;
  color: transparent;
}

.reveal-text {
  line-height: var(--headlineBig);
  filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2));
}

.opacity-100 {
  opacity: 1;
}

.opacity-30 {
  opacity: 0.3;
}

.stroke-text {
  -webkit-text-stroke-width: 2px; /* Standard-Strichstärke */
  -webkit-text-stroke-color: #cec9c9; /* Farbe des Strokes */
  paint-order: stroke fill; /* Wichtig für korrekte Darstellung */
}
